/*!
 * Author: Lin Guan
 */

.splashNav{
    position: absolute;
    width: 100%;
    z-index: 15;
}

.splashNav {
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
}

.splashNav>div>a {
    font-size: 30px;
    color:#fff;
}

.splashNav .navbar-nav>li>a {
    font-size: 20px;
    color:#fff;
}

.navbar-toggle {
    margin:10px 0;
    background: #000000;
    color: #ffffff;
}

.splashCarousel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-overlay{
    background-color: black;
    width: 100%;
    opacity: 0.3;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.carousel-control {
    z-index: 20;
}

.carousel-item>img {
    width: 100%;
    height: auto;
}

.ol {
    z-index: 20 !important;
    position: absolute;
}

.caption{
    position: absolute;
    left: 0;
    top: 30%;
    width: 80%;
    margin-left: 10%;
    z-index: 20;
}

.caption h1{
    font-size: 60px;
}
.caption p{
    font-size: 30px;
}

.splashBtn{
    color: white;
    background-image: none;
    background-color: transparent !important;;
    border-color: white;
    border-radius: 28px;
}

.splashBtn:hover, .splashBtn:focus, .splashBtn:active, .splashBtn:after {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}